<%layout('/layouts/boilerplate')%>
<body>
    <div class="row mt-3">
    <div class="col-8 offset-2" >
    <h3>Edit your Listing</h3>
    <form action="/listings/<%=det._id%>?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=det.title%>" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control"><%=det.description%></textarea>
        </div>
        <div class="mb-3">
            Original Listing Image <br><br>
            <img src="<%=originalUrl%>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%=det.price%>" type="number" class="form-control">
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%=det.country%>" type="text" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%=det.location%>" type="text" class="form-control">
        </div>
        <br>
        <button class="btn btn-dark edit-btn mb-5">Edit</button>
    </form>
</div>
</div>
</body>